<accordion-group #group>
  <div accordion-heading>
    禁用（Disabled）
    <i class="pull-right float-xs-right glyphicon"
       [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
  </div>
  <app-samplebox [html]="docs.disabled.html" [ts]="docs.disabled.component">
    <div class="bootstrap-switch">
     <input type="checkbox" checked name="disabled-switch-true" disabled/>
    </div>

    <div class="bootstrap-switch">
     <input type="checkbox" checked name="disabled-switch-false"/>
    </div>
  </app-samplebox>
</accordion-group>
