<app-phone>
  <button class="button button-large button-plain button-border button-circle"><i class="fa fa-bitcoin"></i></button>
  <button class="button button-large button-plain button-border button-circle"><i class="fa fa-refresh"></i></button>
  <button class="button button-large button-plain button-border button-circle"><i class="fa fa-angle-left"></i></button>
  <button class="button button-large button-plain button-border button-circle"><i class="fa fa-angle-right"></i></button>
  <button class="button button-large button-plain button-border button-box"><i class="fa fa-reply"></i></button>
  <button class="button button-large button-plain button-border button-box"><i class="fa fa-star"></i></button>
  <button class="button button-large button-plain button-border button-box"><i class="fa fa-trash-o"></i></button>
  <button class="button button-large button-plain button-border button-box"><i class="fa fa-tag"></i></button>
  <button class="button button-large button-plain button-border button-box"><i class="fa fa-volume-down"></i></button>
  <button class="button button-large button-plain button-border button-box"><i class="fa fa-volume-up"></i></button>
  <button class="button button-large button-plain button-border button-square"><i class="fa fa-reply"></i></button>
  <button class="button button-large button-plain button-border button-square"><i class="fa fa-star"></i></button>
  <button class="button button-large button-plain button-border button-square"><i class="fa fa-trash-o"></i></button>
  <button class="button button-large button-plain button-border button-square"><i class="fa fa-tag"></i></button>
  <button class="button button-large button-plain button-border button-square"><i class="fa fa-volume-down"></i></button>
  <button class="button button-large button-plain button-border button-square"><i class="fa fa-volume-up"></i></button>
  <button class="button button-large button-plain button-borderless"><i class="fa fa-reply"></i></button>
  <button class="button button-large button-plain button-borderless"><i class="fa fa-star"></i></button>
  <button class="button button-large button-plain button-borderless"><i class="fa fa-trash-o"></i></button>
  <button class="button button-large button-plain button-borderless"><i class="fa fa-tag"></i></button>
  <button class="button button-large button-plain button-borderless"><i class="fa fa-volume-down"></i></button>
  <button class="button button-large button-plain button-borderless"><i class="fa fa-volume-up"></i></button>
  <button class="button button-large button-plain button-borderless"><i class="fa fa-volume-up"></i></button>
  <button class="button button-large button-plain button-borderless"><i class="fa fa-volume-up"></i></button>
</app-phone>
