<accordion-group #group>
  <div accordion-heading>
    光晕效果
    <i class="pull-right float-xs-right glyphicon"
       [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
  </div>
  按钮周围有一圈光晕效果
  <app-samplebox [html]="docs.glow.html">
    <a href=# class="button button-glow button-rounded button-raised button-primary">Go</a>
    <a href=# class="button button-glow button-border button-rounded button-primary">Go</a>
    <button class="button button-glow button-circle button-action button-jumbo"><i class="fa fa-thumbs-up"></i></button>
    <a href=# class="button button-glow button-rounded button-highlight">Go</a>
    <a href=# class="button button-glow button-rounded button-caution">Go</a>
    <a href=# class="button button-glow button-rounded button-royal">Go</a>
  </app-samplebox>
</accordion-group>
