<accordion-group #group>
  <div accordion-heading>
    颜色（Colors）
    <i class="pull-right float-xs-right glyphicon"
       [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
  </div>
  <app-samplebox [html]="docs.colors.html" [ts]="docs.colors.component">
    <div class="bootstrap-switch">
      <input type="checkbox" checked name="colors-switch-primary" data-off-color="info"/>
    </div>

    <div class="bootstrap-switch">
      <input type="checkbox" checked name="colors-switch-info"  data-off-color="success"/>
    </div>

    <div class="bootstrap-switch">
      <input type="checkbox" checked name="colors-switch-success" data-off-color="warning"/>
    </div>

    <div class="bootstrap-switch">
      <input type="checkbox" checked name="colors-switch-warning" data-off-color="danger"/>
    </div>

    <div class="bootstrap-switch">
      <input type="checkbox" checked name="colors-switch-danger" data-off-color="primary"/>
    </div>
  </app-samplebox>
</accordion-group>
