<accordion-group #group>
  <div accordion-heading>
    按钮组
    <i class="pull-right float-xs-right glyphicon"
       [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
  </div>
  一组相关的按钮被并排排列
  <app-samplebox [html]="docs.group.html">
    <div class="button-group">
      <button type="button" class="button button-primary">Option 1</button>
      <button type="button" class="button button-primary">Option 2</button>
      <button type="button" class="button button-primary">Option 3</button>

      <!-- DROPDOWN MENU -->
      <span class="button-dropdown button-dropdown-primary" data-buttons="dropdown">
        <a href="#" class="button button-primary"> Select Me <i class="fa fa-caret-down"></i></a>

        <ul class="button-dropdown-list is-below">
          <li><a href="http://www.bootcss.com/">Option Link 1</a></li>
          <li><a href="http://www.bootcss.com/">Option Link 2</a></li>
          <li class="button-dropdown-divider"><a href="#">Option Link 3</a></li>
        </ul>
      </span>
    </div>

    <div class="button-group">
      <button type="button" class="button button-pill button-action">Option 1</button>
      <button type="button" class="button button-pill button-action">Option 2</button>
      <button type="button" class="button button-pill button-action">Option 3</button>
    </div>

    <div class="button-group">
      <button type="button" class="button button-royal button-rounded button-raised">Option 1</button>
      <button type="button" class="button button-royal button-rounded button-raised">Option 2</button>
      <button type="button" class="button button-royal button-rounded button-raised">Option 3</button>
    </div>
  </app-samplebox>
</accordion-group>
